{
    "schemas": [
        {
            "name": "schema1",
            "tables": [
                {
                    "name": "table1",
                    "rows": 100,
                    "files": 1,
                    "mode": "ALTERNATE",
                    "columns": [
                        {"type": "INT","name": "Col1","distinct": 10},
                        {"type": "INT","name": "Col2","distinct": 11},
                        {"type": "INT","name": "Col3","distinct": 2, "start":"20", "mode": "BLOCK"},
                        {"type": "FLOAT","name": "Col4","distinct": 5, "start":"3.00", "end": "9.00"},
                        {"type": "STRING","name": "Col5","distinct": 10, "values":"AAA;BBB;CCC"},
                        {"type": "STRING","name": "Col6","distinct": 10, "prefix":"txt_", "mode": "RANDOM"},
                        {"type": "DATE","name": "Col7","distinct": 5, "start": "2020-01-01 15:00:00","end": "2020-01-02 15:05:00"}
                    ]
                }
                {
                    "name": "table2",
                    "rows": 100000000,
                    "files": 1,
                    "mode": "ALTERNATE",
                    "columns": [
                        {"type": "INT","name": "Col1","distinct": 1000},
                        {"type": "INT","name": "Col2","distinct": 1001}
                    ]
                }
            ]
        }
    ]
}