{
  "rows":10000,
  "files":1,
  "columns":[
    {
      "type":"ID_INT",
      "name":"0_ID_INT",
      "distinct":1
    },
    {
      "type":"STRING",
      "name":"1_STRING",
      "start": "hello",
      "distinct":5
    },
    {
      "type":"INT",
      "name":"2_INT",
      "start":0,
      "distinct":400
    },
    {
      "type":"FLOAT",
      "name":"3_FLOAT",
      "distinct": 5,
      "start": "0.00",
      "end": "1.00"
    },
    {
      "type":"DATE",
      "name":"4_DATE",
      "distinct": 50,
      "start": "2020-01-01 15:00:00",
      "end": "2020-01-02 15:05:00"
    }
  ]
}